@font-face {
  font-family: Open Sans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open Sans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
}

.header {
  padding: 45px 150px 110px 150px;
  background-image: url(../img/football_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
    margin: 0 auto;
  box-sizing: border-box;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  margin: 0 auto;
  max-width: 1550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img_logo {
  width: 190px;
  height: 55px;
  position: relative;
  z-index: 1;
}
.title {
  width: 100%;
  margin: 200px auto;
  box-sizing: border-box;
}

.title_text {
  position: relative;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 90px;
  line-height: 70px;
  font-weight: bold;
}
.title_part_2 {
  padding-left: 25%;
}

.link_list {
  margin: 0 auto;
  width: 675px;
  justify-content: space-between;
  display: flex;
}
.link_item {
  border-radius: 35px;
  width: 310px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e42b0;
  z-index: 1;
}

.img_link {
  width: 43px;
  height: 50px;
  fill: #fff;
  margin-right: 25px;
  z-index: 1;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-family: Open Sans, Arial, sans-serif;
  position: relative;
}

.link-part-2{
  font-weight: bold;
}

/* athlets */
.athlets {

  margin: 0 auto;
  
}

.athlets-content{
  position: relative;

}


.footballer {
  position: absolute;
  z-index: 1;
  max-width: 52vw;
  right : 52%;
  top : 2%;
}

.athlets-preview {
  font-size: 80px;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  color: #e7e7e7;
  margin-left: 50%;
  line-height: 60px;
}

.athlets-header {
  font-size: 36px;
  font-weight: bold;
  font-family: Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-left: 50%;
  margin-top: 0;
  margin-bottom: 30px;
}

.athlets-text {
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  color: #000;
  text-align: left;
  line-height: 28px;
  width: 32%;
  margin-left: 50%;
  margin-right: 50%;
}

.growth{
  color: #fff;
}
.athlets-connection-block {
  background-color: #fff;
  padding: 60px 0;
  box-sizing: border-box;
}
.athlets-collaboration-block {
  background-color: #f6f4fa;
  padding: 60px 0;
  box-sizing: border-box;
}
.athlets-growth-block {
  background-color: #5e42b0;
  padding: 60px 0;
  box-sizing: border-box;
}

/* PLAYERS */
.container-3 {
  margin: 0 auto;
}
.players {
  margin: 0 auto;
  position: relative;
}

.players-preview {
  font-size: 80px;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  color: #e7e7e7;
  line-height: 60px;
}

.players-header {
  font-size: 36px;
  font-weight: bold;
  font-family: Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  color: #e7e7e7;
}

.players-text {
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  color: black;
  text-align: left;
  line-height: 28px;
  width: 37%;
}
.players-connection-block {
  background-color: #fff;
  padding: 60px 0;
  box-sizing: border-box;
  width: 100%;
}
.players-collaboration-block {
  background-color: #f5f6f7;
  padding: 60px 0;
  box-sizing: border-box;
  width: 100%;
}
.players-growth-block {
  background-color: #0a0e34;
  padding: 60px 0;
  box-sizing: border-box;
  width: 100%;
}
.players-content-box {
  width : 80%;
  margin: 0 auto;
}

.number {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-right: 10px;
}


.basketballer {
position: absolute;
left : calc(50% - 6vw);
top: 1%;
z-index: 1; 
max-width: 55vw;
}
}


/* CARD */
.container-3{
  width: 100%;
}

.cards{
    max-width: 2048px;
    margin: 0 auto;
}

.active-card,
.contact-card,
.work-card {
  display: flex;
  position: relative;
}
.card-number {
font-size: 24px;
color: #fff;
font-weight: bold;
line-height: 34px;
font-family: Open Sans, Arial, sans-serif;
}

.contact-content,
.active-content,
.work-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-content-box,
.active-content-box,
.work-content-box{
max-width: 68%;
margin: 0 auto;
}

.active-img,
.contact-img,
.work-img {
  width: 50%;
}

.img{
  display: block;
  max-width: 100%
}

.contact-title,
.active-title,
.work-title {
  font-size: 80px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #c1c1c1;
  line-height: 60px;
}

.contact-text,
.active-text,
.work-text {
  font-size: 24px;
  line-height: 28px;
  font-family: Open Sans, Arial, sans-serif;
  color: #000;
  letter-spacing: 1px;

}
.card-number-box{
  position: absolute;
  top: 28%;
  left: calc(50% - 4.25%);
  width: 8.5%;
  height: 23%;
  background-color: #5e42b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number-box::after{
  content:"";
  position: absolute;
  width: 16%;
  height: 3%;
  top: 60%;
  background-color: #f5f6f7;
  border-radius: 5px;
}

}
/* footer */
.container-4{
  max-width: 1550px;
  margin: 0 auto;
}

.footer{
  padding-top: 150px ;
  padding-bottom: 65px;
  background-image: url(../img/game_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  box-sizing: border-box;
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-welcome-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  background-color: #5e42b0;
  border-radius : 20px;
  position: relative;
  z-index: 1;
  box-sizing : border-box;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-right: 35px;
  
}

.footer-welcome-img{
  width: 100px;
  height: 90px;
  fill: #fff;
  position: relative;
  z-index: 1;
}



.footer-title{
  font-size : 80px;
  color: #fff;
  font-family: Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  line-height: 60px;
  z-index: 1;
  margin-bottom: 0;
}

.footer-content{
  display: flex;
 justify-content: center;
  align-items: center;
}

.footer-text{
  font-size : 30px;
  font-family: Open Sans, Arial, sans-serif;
  color: #5e42b0;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  line-height: 34px;
  
}

.link_list-footer {
  margin: 0 auto;
  width: 675px;
  justify-content: space-between;
  display: flex;
  margin-top: 150px;
}
.link_item-footer {
  border-radius: 35px;
  width: 310px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e42b0;
  z-index: 1;
}

.footer-logo{
 margin: 0 auto;
  width: 190px;
  height: 55px;
  position: relative;
  z-index: 1;
  margin-top: 260px;
}



/* DESKTOP */ 

/*  ЗАГОЛОВКИ  */

@media(min-width : 961px) and (max-width : 1648px){
  .title_text{
  font-size: 60px;
  line-height: 46px;
  }

  .title_part_2 {
  padding-left: 25%;
}
}

@media(min-width: 961px) and (max-width: 1198px){
  .title_text{
  font-size: 43px;
  line-height: 35px;
  }

}

/* ВТОРОСТЕПЕННЫЕ  ЗАГОЛОВКИ  */

@media(min-width: 961px) and (max-width: 1719px){
  .players-preview,
.athlets-preview,
.active-title,
.contact-title,
.work-title{
  font-size: 45px;
}
.card-number{
  font-size: 16px;
}
.athlets-header,
.players-header{
  font-size : 30px;
}
}


/*  ТЕКСТ ВНУТРИ БЛОКОВ  */

@media(min-width: 961px) and (max-width: 1301px){
  .active-text,
  .contact-text,
  .work-text{
    font-size: 18px;
    line-height: 20px;
  }

}

@media(min-width: 961px) and (max-width: 1550px){
  .players-text,
  .athlets-text{
    font-size: 16px;
    line-height: 23px;
  }

}
